 
* {
  box-sizing: border-box;
}

/* four equal columns that floats next to each other */
.grid-item {
  float: left;
  width: 25%;
  padding: 10px;
  height: 500px;
   
}
li:hover {
  background-color: yellow;
}

.grid-item:nth-child(1) {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
#grid-floats {

  display: table;
  clear: both;
  grid-gap: 10px;
}



/* Container for flexboxes */
#grid-flex {
  display: flex;
  flex-wrap: wrap;
}

/* four equal columns */
.grid-item #grid-flex {
  flex: 25%;
  padding: 20px;
}
img {

  height: auto;
  max-width: 80%;

}

@media all and (max-width: 500px) {
  .grid-item {
    width: 50%;     
  }
}

@media all and (max-width: 700px) and (min-width: 500px) {
  .grid-item {
    width: 33%;     
  }
}
